{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    
</head>
<body>
    <h1>grid layout</h1>
    <p>A grid Layout must have parent</p>
    <div class="container">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
         <div>7</div>
        <div>8</div>
        <div>9</div>
        <img src="{% static 'logo.jpg' %}">
    </div>
</body>
</html>